:root {
    --background-color: #dce3e4;
    --font-size: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
    color: #66978f;
    margin-bottom: 20px;
}

header img {
    padding: 10px 20px;
    margin-left: 50%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

nav a {
    color: black;
    /* text-decoration: none; */
    font-size: var(--font-size);
    padding: 8px 15px;
}

nav ul li {
    display: inline;

}


h2 {
    color: black;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.herodiv img {
    width: 100%;
    height: auto;
    /* margin: 0 0 0px 0px; */

}

.herodiv article {
    display: grid;
    position: absolute;
    grid-template-columns: 2fr 1fr;
    background: #baa452;
    top: 100%;
    grid-template-rows: 1fr;
}

.herodiv article img {
    /*this is for the images first two */
    /* position: absolute; */
    width: 150px;
    margin: 50px 0 10px 15px;
    border: 1px solid #baa452;
    /* padding: 5px; */
    /* top: 750px; */
    /* right: 0px; */
    grid-column: 2/3;
    float: right;
    grid-row: 1/2;
    text-align: center;
}

.herodiv h1 {
    font-family: 'Barriecito', sans-serif;
    position: absolute;
    top: 50%;
    width: 100%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: black;
    font-size: 5rem;
    background: #baa452;
    padding: 2rem;
    text-align: center;
    right: 0;
}

.herodiv article p {
    padding: 2rem;
    opacity: 0.9;
    color: black;
    font-size: var(--font-size);
    grid-column: 1/2;
    grid-row: 1/2;
}

section {
    text-align: center;
    /* padding: 20px; */
    background-color: #dce3e4;
}

h2 {
    margin-bottom: 15px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

/* .image div {
    /* display: flex; */
/* flex-direction: column; */
/* align-items: center;  */


.image img {
    /* display: flex; */
    width: 200px;
    /* height: auto; */
}

.image p {
    font-size: 14px;
}

.history {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    align-items: center;
    gap: 20px;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.history p {
    font-size: var(--font-size);
    color: black;
    display: inline-block;
}

.history img {
    display: inline-block;
    /* grid-row: 1/2; */
    /* order: 2; */

}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    background-color: #dce3e4;
    margin-top: 20px;
    gap: 150px;
}
h1{
    font-family: 'Barriecito';
    font-size: 100px;
    margin-left: 2rem;
    text-align: center;
}

h2 {
    
    margin-left: 3rem;
}

p {
    text-align: center;
    margin-left: 3rem;
}
main {
    display: grid;
    grid-template-columns: 1fr;  
    grid-gap: 1rem;
}

form {
    width: 35rem;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color:#66978f;
    display: grid;
    
}

fieldset {
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    /* border:1px saddlebrown; */
    padding: 1rem;
}

fieldset legend {
    font-size: 1.4rem;
    color: #000;
    padding: 0.5rem;
}
label, input, button, select, textarea {
    font-family:"montserrat";
}

label {
    text-align: right;
    padding-right: 0rem;
}

input {
    padding: 0.6rem;
    display: flex; 
}

textarea {
    width: 425px;
    font-size: 15px;
    display: grid;
}

button{
   margin: 1rem;
   padding: .75rem;
}

button:hover{
    background-color: #baa452;
}


.block2 {
    display: flex;
}

.map {
    display: grid;
    justify-content: center;
    /* grid-row: 7; */
    float: right;
    
}
.employees{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.invitation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}
.invitation h2 {
    display: inline-block;
}
.invitation p {
    display: inline-block;
}
section p{
    padding: 1rem;
    line-height:2;
}
.photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;   
}
figcaption {
    line-height: 2;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 20px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: #baa452;
  }
  
  th,
  td {
    border: 1px solid #dce3e4;
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: #dce3e4;
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
.contact {
    position: absolute;
    top: 670px;
    left: 350px;
    font-size: 25px;
}